<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app.css">

    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="MyController" ng-cloak>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">

            <h1>{{form.name}}</h1>

            <input type="text" ng-model="form.name"/>

            {{form.name}} - {{companyName}}


            <button ng-click="doSomething(form.name)">Change Company</button>

            <a href="" ng-click="doSomething('Company Name 2')">Change Company</a>
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>

<script>


    angular.module('myApp', []).controller("MyController",
            ['$scope', function ($scope) {
                $scope.form = {};
                $scope.form.name = "Michael Ball";

                $scope.companyName = "Callibrity";

                $scope.doSomething = function (name) {
                    debugger;
                    $scope.companyName = name;
                };

            }]
    );
</script>

</body>
</html>
