<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

    <style>
        form {
            margin: 5px;
            padding: 20px;
        }

        form.ng-invalid {
            border: 2px solid red;
        }

        input.ng-invalid {
            background-color: red;
        }

        input.ng-valid {
            background-color: green;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="MyController">
<h1>{{title}}</h1>

<h2>Form Controls Example</h2>

<form name="myForm" ng-submit="submit()">

    <label>Checkbox:</label><input type="checkbox" ng-model="form.checkbox"><br>
    <label>Radio:</label><input type="radio" ng-model="form.radio" value="YES"><input type="radio" ng-model="form.radio" value="NO"><br>
    <label>Primitive:</label><select ng-model="form.selectPrimitive" ng-options="primitive as primitive for primitive in primitives"></select><br>
    <label>Objects[]:</label><select ng-model="form.selectObject" ng-options="obj.value as obj.name for obj in objects"></select><br>
    <label>Object</label><select ng-model="form.selectKey" ng-options="value as key for (key, value) in object"></select><br>

    <input type="submit" value="GO"/>
    <h3>results:</h3>

    <div>checkbox-{{form.checkbox}}</div>
    <div>radio -{{form.radio}}</div>
    <div>select primitive - {{form.selectPrimitive}}</div>
    <div>select object - {{form.selectObject}}</div>
    <div>select key - {{form.selectKey}}</div>

</form>

<script src="bower_components/angular/angular.js"></script>

<script>
    var myApp = angular.module('myApp', []);

    myApp.controller("MyController", function ($scope) {
        $scope.submit = function(){
        }

        $scope.objects = [{name:'One', value:'ONE'}, {name:'Two', value:'TWO'}, {name:'Three', value:'THREE'}];
        $scope.primitives = [1,2,3,4,5];
        $scope.object = {
            'One':1,
            'Two':2,
            'Three':3

        }
    });

</script>
</body>
</html>
