<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="My1Controller">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h1>MyController1</h1>
            <ol>
                <li>
                    Modify My1Controller.Form.Name
                </li>
                <li>
                    Modify My2Controller.Form.Name
                </li>
                <li>
                    Modify My1Controller.Form.Name
                </li>
            </ol>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h1>MyController2</h1>
            <ol>
                <li>
                    Modify My1Controller.Name
                </li>
                <li>
                    Modify My2Controller.Name
                </li>
                <li>
                    Modify My1Controller.Name
                </li>
            </ol>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">


            <h2>My1Controller.Form.Name</h2>
            <input type="text" ng-model="form.name"/>
            {{form.name}}

            <h2>My1Controller.Name</h2>
            <input type="text" ng-model="name"/>
            {{name}}

        </div>

        <div the-directive class="col-lg-6 col-md-6 col-sm-6" name="name" form-name="form.name">
              form.name:{{form.name}}<br>
              formName:{{formName}}<br>
              name:{{name}}
        </div>

    </div>
</div>
<script src="bower_components/angular/angular.js"></script>
<script>
    var myApp = angular.module('myApp', []);

    myApp.controller("My1Controller", ['$scope', function ($scope) {
        $scope.form = {};
        $scope.form.name = "Ernie";
        $scope.name = 'Bert';
    }]).directive("theDirective", function () {
        return {
            restrict: 'A',
            //scope:true,
            scope:false, //default
            //scope:{}, //same as true

            scope: {
                formName: '=',
                name: '='
            },
            transclude:true,
            template: "<div>{{message}}" +

            "<h2>theDirective.formName</h2>" +
            "<input type='text' ng-model='formName'/>" +
            "{{formName}}" +

            "<h2>theDirective.Name</h2>" +
            "<input type='text' ng-model='name'/>" +
            "{{name}}" +


            "<h2>Name</h2>" +

            "<div ng-repeat='name in names'>" +
            "{{name}}" +
            "</div>" +

            "<h2>formName</h2>" +

            "<div ng-repeat='name in formnames'>" +
            "{{name}}" +
            "</div><div ng-transclude></div></div>",
            controller: function ($scope) {
                $scope.message = 'init';
                $scope.names = [];
                $scope.formnames = [];
                $scope.$watch('name', function (newValue, oldValue) {
                    $scope.names.push(newValue);
                });
                $scope.$watch('form.name', function (newValue, oldValue) {
                    $scope.formnames.push(newValue);
                });
                $scope.$watch('formName', function (newValue, oldValue) {
                    $scope.formnames.push(newValue);
                });
            }
        }

    })
    ;
</script>
</body>

</html>
