<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="MyController">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">

            <button ng-click="showModal()" class="btn btn-infof">Show me the Modal.</button>
            {{message}}
        </div>
    </div>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script>
    var myApp = angular.module('myApp', ['ui.bootstrap']);

    myApp.controller("MyController", function ($scope, $modal) {

        $scope.showModal = function () {
            var modal = $modal.open({template: "<div class='modal-body'><div class='modal-header'>TOP</div><div class=''>HELLO</div><div class='modal-footer'><button ng-click='$dismiss()' class='btn'>Dismiss</div><button class='btn' ng-click='$close()'>Close</div></div>"});
            modal.result.then(function(result){
                $scope.message='resolved';
            }, function(error){
                $scope.message='rejected';
            });

            modal.opened.then(function(result){
                $scope.message='opened';
            }, function(error){
                $scope.message='not opened';
            });
        }

    });
</script>
</body>
</html>
